{
  "PublisherId": "CN=3B9194D4-A891-4315-8108-5DA8BEC62159",
  "PublisherDisplayName": "Lumen Game Dev",
  "PackageIdentityName": "44031LumenGameDev.Illumine",
  "DisplayName": "Illumine",
  "AppId": "9NLSWP68BRTG",
  "ProductFamilyName": "44031LumenGameDev.Illumine_0vdgnf4r8c6sm",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-000067ddcb2a",
  "TitleId": 1742588714,
  "Sandbox": "GSZPNP.58",
  "XboxLiveCreatorsTitle": true
}